.str-chat__loading-channels{
    width: 300px;
    height: 100%;
    padding: 20px;
    background: red; }

@media screen and (max-width: 960px) {
    .str-chat-channel-list-burger {
        display: flex; }
    .str-chat-channel-list.messaging, .str-chat-channel-list.team, .str-chat-channel-list.commerce {
        position: fixed;
        left: -380px;
        top: unset;
        z-index: 1001;
        min-height: 100vh;
        overflow-y: auto;
        box-shadow: 7px 0 9px 0 rgba(0, 0, 0, 0.03), 1px 0 0 0 rgba(0, 0, 0, 0.03);
        transition: left 200ms ease-in-out; }
    .str-chat-channel-checkbox:checked ~ .str-chat-channel-list.messaging, .str-chat-channel-checkbox:checked ~ .str-chat-channel-list.team, .str-chat-channel-checkbox:checked ~ .str-chat-channel-list.commerce {
        left: 0px; } }

.str-chat.messaging, .str-chat.commerce {
    background-color: white;
    border: 10px;
    border-radius: 10px;
}

.str-chat__channel-list-team__main {
    min-width: 230px;
    background: white;
    margin: 10px;
}